
<style>
  canvas { position:absolute; }
.container { position:relative;}
  svg { postion: absolute; }
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
</style>
<div class="row">
	<div class="col-md-4" id="seismic"></div>
	<div class="col-md-4" id="scatter"></div>
</div>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-4" id=datasets">
		<label for="dataSelect"> Dataset: </label>
		<select name="dataSelect" id="dataSelect" ng-model="selectedData" ng-change="reset()">
			<option ng-repeat="option in options.datasets" value="{{option}}">{{option}}</option>
		</select>
	</div>
	<div class="col-md-4" id=features">
		<label for="repeatSelect"> Projection: </label>
		<select name="repeatSelect" id="repeatSelect" ng-model="selectedFeature" ng-change="updateScatter()">
			<option ng-repeat="option in options.features" value="{{option}}">{{option}}</option>
		</select>
	</div>
</div>
